[submodule "required_repo/imgui_club"]
	path = required_repo/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "required_repo/ImGuiFileDialog"]
	path = required_repo/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "required_repo/imgui-knobs"]
	path = required_repo/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
[submodule "required_repo/termcolor"]
	path = required_repo/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
